.portfolio {
  margin-top: 180px;
  height: auto;
  margin-left: auto;
  overflow: visible;

  .title {
    h1 {
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 64px;
      font-weight: normal;
      padding: 5px 8px;
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 5px 8px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .column {
    flex: 30%;
    max-width: 35%;

    &.first {
      .img {
        img.img-1 {
          height: 630px;
        }
        img.img-2 {
          height: 270px;
        }
        img.img-3 {
          height: 400px;
        }
      }
    }

    &.second {
      .img {
        img.img-1 {
          height: 270px;
        }
        img.img-2 {
          height: 570px;
        }
        img.img-3 {
          height: 460px;
        }
      }
    }

    &.third {
      .img {
        img.img-1 {
          height: 450px;
        }
        img.img-2 {
          height: 270px;
        }
        img.img-3 {
          height: 580px;
        }
      }
    }

    .img {
      vertical-align: middle;
      width: 100%;
      object-fit: cover;
      object-position: top;
      position: relative;
      cursor: pointer;
      margin-top: 8px;

      .overlay {
        transition: 0.4s ease all;
        position: absolute;
        top: 8px;
        bottom: 1px;
        left: 0;
        right: 0;
        background-color: transparent;
      }

      &:hover {
        .overlay {
          background-color: rgba($color: #000000, $alpha: 0.7);
        }
      }
    }
  }

  @media (max-width: 600px) {
    margin: 150px 0;

    .column {
      flex: 60%;

      img {
        width: 200px;
        margin: 0 auto;
        height: 200px;
        margin-top: 40px;
      }
    }
  }
  @media (max-width: 400px) {
    margin: 150px 0;

    .column {
      flex: 100%;

      img {
        width: 180px;
        margin: 0 auto;
        height: 180px;
        margin-top: 40px;
      }
    }
  }

  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.active {
      display: flex;
    }

    .img {
      height: 90%;
      width: 90%;
      position: relative;

      .icon {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
          color: red;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        user-select: none;
      }
    }
  }
}
